::-webkit-scrollbar {
	display: none;
  }
  html {
	overflow-x: hidden;
	scroll-behavior: smooth;
  }
  * {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  body {
	margin: 0;
	padding: 0;
  }
.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #45569f;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}

  #main {
	position: relative;
	z-index: 20;
	background: #fff;
	transition: transform 0.6s ease;
  }
  @media (min-width: 640px) {
	#main {
	  padding: 1em;
	}
	
        
  }
  .fake-section {
	background: #eee;
	height: 300px;
  }
  .tiles-a {
	width: 100%;
	position: relative;
	overflow: hidden;
  }
  .tiles-a ul {
	margin: 0;
	padding: 0;
  }
  .tiles-a li {
	list-style: none;
  }
  @media (min-width: 640px) {
	.tiles-a li {
	  float: left;
	  width: 33.33%;
	}
	  p#footer {
	  margin-top: 13px !important;
	  margin-bottom: -37px;
          margin: 0 auto;
          margin-left: 554px !important;

	}
  }
  .tiles-a a {
	margin: 1em;
	display: block;
	background: #222;
	padding-top: 73%;
	height: 0;
  }
  #aside {
	position: fixed;
	top: 0;
	right: 0;
	width: 60%;
	height: 100%;
	background: #eee;
	overflow-y: scroll;
	z-index: 10;
  }
  #aside img {
	width: 100%;
	height: auto;
	vertical-align: top;
  }
  #aside .wrapper {
	padding: 1em;
  }
  #aside .close {
	width: 25px;
	display: block;
	position: absolute;
	top: 1em;
	right: 1em;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
  }
  .show-detail {
	overflow: hidden;
  }
  .show-detail #main {
	transform: translateX(-60%);
  }
  .visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
  }

  
	/*-----Footer section----*/

	.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
  margin-bottom: -19px !important;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
  margin-left: -131px !important;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
#home {
    color: #45569f;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    text-decoration: none;
    padding: 4px;
    border-color: #45569f;
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
