::-webkit-scrollbar {
	display: none;
  }
  html {
	overflow-x: hidden;
	scroll-behavior: smooth;
  }
  * {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  body {
	margin: 0;
	padding: 0;
  }
.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #45569f;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}

  #main {
	position: relative;
	z-index: 20;
	background: #fff;
	transition: transform 0.6s ease;
  }
  @media (min-width: 640px) {
	#main {
	  padding: 1em;
	}
	
        
  }
  .fake-section {
	background: #eee;
	height: 300px;
  }
  .tiles-a {
	width: 100%;
	position: relative;
	overflow: hidden;
  }
  .tiles-a ul {
	margin: 0;
	padding: 0;
  }
  .tiles-a li {
	list-style: none;
  }
  @media (min-width: 640px) {
	.tiles-a li {
	  float: left;
	  width: 33.33%;
	}
	  p#footer {
	  margin-top: 13px !important;
	  margin-bottom: -37px;
          margin: 0 auto;
          margin-left: 554px !important;

	}
  }
  .tiles-a a {
	margin: 1em;
	display: block;
	background: #222;
	padding-top: 73%;
	height: 0;
  }
  #aside {
	position: fixed;
	top: 0;
	right: 0;
	width: 60%;
	height: 100%;
	background: #eee;
	overflow-y: scroll;
	z-index: 10;
  }
  #aside img {
	width: 100%;
	height: auto;
	vertical-align: top;
  }
  #aside .wrapper {
	padding: 1em;
  }
  #aside .close {
	width: 25px;
	display: block;
	position: absolute;
	top: 1em;
	right: 1em;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
  }
  .show-detail {
	overflow: hidden;
  }
  .show-detail #main {
	transform: translateX(-60%);
  }
  .visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
  }

  
	/*-----Footer section----*/

	.flex-rw {
	  display: flex;
	  flex-flow: row wrap;
	}

	footer {
	  background: #45569f;
	  margin-top: auto;
	  width: 100%;
	}

	.footer-bottom-wrapper {
	  font-size: 1.5em;
	  color: #fff;
	}

	p#footer {
	  margin-top: 13px !important;
	  margin-bottom: -37px;
          margin: 0 auto;
         

	}

		footer{
	  position: fixed;
	  bottom: 0px;
	  width: 100%;
	  background: #111;
	}
	.main-content{
	  display: flex;
	}
	.main-content .box{
	  flex-basis: 50%;
	  padding: 10px 20px;
	}
	.box h2{
	  font-size: 1.125rem;
	  font-weight: 600;
	  text-transform: uppercase;
	}
	.box .content{
	  margin: 20px 0 0 0;
	  position: relative;
	}
	.box .content:before{
	  position: absolute;
	  content: '';
	  top: -10px;
	  height: 2px;
	  width: 100%;
	  background: #1a1a1a;
	}
	.box .content:after{
	  position: absolute;
	  content: '';
	  height: 2px;
	  width: 15%;
	  background: #f12020;
	  top: -10px;
	}
	.left .content p{
	  text-align: justify;
	}
	.left .content .social{
	  margin: 20px 0 0 0;
	}
	.left .content .social a{
	  padding: 0 2px;
	}
	.left .content .social a span{
	  height: 40px;
	  width: 40px;
	  background: #1a1a1a;
	  line-height: 40px;
	  text-align: center;
	  font-size: 18px;
	  border-radius: 5px;
	  transition: 0.3s;
	}
	.left .content .social a span:hover{
	  background: #f12020;
	}
	.center .content .fas{
	  font-size: 1.4375rem;
	  background: #1a1a1a;
	  height: 45px;
	  width: 45px;
	  line-height: 45px;
	  text-align: center;
	  border-radius: 50%;
	  transition: 0.3s;
	  cursor: pointer;
	}
	.center .content .fas:hover{
	  background: #f12020;
	}
	.center .content .text{
	  font-size: 1.0625rem;
	  font-weight: 500;
	  padding-left: 10px;
	}
	.center .content .phone{
	  margin: 15px 0;
	}
	.right form .text{
	  font-size: 1.0625rem;
	  margin-bottom: 2px;
	  color: #656565;
	}
	.right form .msg{
	  margin-top: 10px;
	}
	.right form input, .right form textarea{
	  width: 100%;
	  font-size: 1.0625rem;
	  background: #151515;
	  padding-left: 10px;
	  border: 1px solid #222222;
	}
	.right form input:focus,
	.right form textarea:focus{
	  outline-color: #3498db;
	}
	.right form input{
	  height: 35px;
	}
	.right form .btn{
	  margin-top: 10px;
	}
	.right form .btn button{
	  height: 40px;
	  width: 100%;
	  border: none;
	  outline: none;
	  background: #f12020;
	  font-size: 1.0625rem;
	  font-weight: 500;
	  cursor: pointer;
	  transition: .3s;
	}
	.right form .btn button:hover{
	  background: #000;
	}
	.bottom center{
	  padding: 5px;
	  font-size: 0.9375rem;
	  background: #151515;
	}
	.bottom center span{
	  color: #656565;
	}
	.bottom center a{
	  color: #f12020;
	  text-decoration: none;
	}
	.bottom center a:hover{
	  text-decoration: underline;
	}
	@media screen and (max-width: 900px) {
	  footer{
	    position: relative;
	    bottom: 0px;
	  }
	  .main-content{
	    flex-wrap: wrap;
	    flex-direction: column;
	  }
	  .main-content .box{
	    margin: 5px 0;
	  }
	}




