::-webkit-scrollbar {
	display: none;
  }
  html {
	overflow-x: hidden;
	scroll-behavior: smooth;
  }
  * {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  body {
	margin: 0;
	padding: 0;
  }
.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #45569f;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}

  #main {
	position: relative;
	z-index: 20;
	background: #fff;
	transition: transform 0.6s ease;
  }
  @media (min-width: 640px) {
	#main {
	  padding: 1em;
	}
	
        
  }
  .fake-section {
	background: #eee;
	height: 300px;
  }
  .tiles-a {
	width: 100%;
	position: relative;
	overflow: hidden;
  }
  .tiles-a ul {
	margin: 0;
	padding: 0;
  }
  .tiles-a li {
	list-style: none;
  }
  @media (min-width: 640px) {
	.tiles-a li {
	  float: left;
	  width: 33.33%;
	}
	  p#footer {
	  margin-top: 13px !important;
	  margin-bottom: -37px;
          margin: 0 auto;
          margin-left: 554px !important;

	}
  }
  .tiles-a a {
	margin: 1em;
	display: block;
	background: #222;
	padding-top: 73%;
	height: 0;
  }
  #aside {
	position: fixed;
	top: 0;
	right: 0;
	width: 60%;
	height: 100%;
	background: #eee;
	overflow-y: scroll;
	z-index: 10;
  }
  #aside img {
	width: 100%;
	height: auto;
	vertical-align: top;
  }
  #aside .wrapper {
	padding: 1em;
  }
  #aside .close {
	width: 25px;
	display: block;
	position: absolute;
	top: 1em;
	right: 1em;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
  }
  .show-detail {
	overflow: hidden;
  }
  .show-detail #main {
	transform: translateX(-60%);
  }
  .visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
  }

  
	/*-----Footer section----*/

	.flex-rw {
	  display: flex;
	  flex-flow: row wrap;
	}

	footer {
	  background: #45569f;
	  margin-top: auto;
	  width: 100%;
	}

	.footer-bottom-wrapper {
	  font-size: 1.5em;
	  color: #fff;
	}

	p#footer {
	  margin-top: 13px !important;
	  margin-bottom: -37px;
          margin: 0 auto;
         

	}





